div {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html, #root, .container {
    height: 100%;
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;


}

#root {

}

.push, .footer {
    height: 50px;
}

h1 {
  text-align: center;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  display: block;
  padding-top: 20px;
  width: 100%;
  font-size: 20px;
}

.input:focus {
  outline: none;
}

.content {
  width: 100%;
/*min-height: 100%;*/
margin-bottom: -50px;
    overflow: auto;


}

.checked {
  text-decoration: line-through;
}

.unChecked {
  text-decoration: none;
}

.remove-all {
    background-color: aquamarine;
    float: right;
    padding: 10px;
}

.btn-delete {
  width: 35px;
  height: 35px;
  background: #1adbe0 url("./images/trash-solid.svg") no-repeat center;
  background-size: 50%;
  border-radius: 50%;
  border: none;
}

.btn-delete:hover {
  cursor: pointer;
}

.btn-edit {
  width: 35px;
  height: 35px;
  background: #1adbe0 url('./images/edit-regular.svg') no-repeat center;
  background-size: 50%;
  border-radius: 50%;
  border: none;
  margin-left: 10px;
}

.btn-edit:hover {
  cursor: pointer;
}

.text-left {
  width: 75%;
}

.footer {

}

.text-right {
    float: right;
}

.button-item {
    padding-top: 20px;
}

.list {
    margin: 10px;
}

.btn {
  padding: 0.7em 2.2em;
  border: 3px solid #1adbe0;
  transition: all 300ms ease;
  box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
  color: black;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.btn:hover {
  cursor: pointer;
}

.btn-left {
    float: right;
}

.clear {
    clear: both;
}